<!-- javascripts -->
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
var refJSON = {"isPreview":true,"greetingEnabled":true,"greetingTitle":"Hello Iam Your assistant","greetingMessage":"Hello world😀😀...if HR: \"Please Schedule an Interview\"  elif: Any Tech Doubts: \"Connect to me\"  else: \"Press X\"\n\n","position":"right","verticalOffset":0,"horizontalOffset":0,"displayMode":"everywhere","primaryColor":"#007bff","isDefaultMainCBImage":true,"bottomLabel":null,"mainCBImage":"https://app.getchatbutton.com/assets/cb/cb/main-transparent.png","greetingIcon":"https://app.getchatbutton.com/assets/cb/cb/empty-avatar.png","items":[{"name":"WhatsApp","slug":"whatsapp","target":"+919886600475","color":"#007bff","faName":["fab","whatsapp"],"link":"https://wa.me/","showInputHint":false}],"env":"production"}
var baseURL = "https://static.getchatbutton.com"

function loadCB() {

  var rootDiv = document.createElement("div")
  rootDiv.id = "oursky-cb"
  document.body.appendChild(rootDiv)

  var fbRoot = document.createElement("div")
  fbRoot.id = "fb-root"
  fbRoot.style.opacity = "0"
  document.body.appendChild(fbRoot)

  var fbCustomerChat = document.createElement("div")
  fbCustomerChat.id = "fb-customer-chat"
  fbCustomerChat.classList.add("fb-customerchat")
  document.body.appendChild(fbCustomerChat)

  if (!document.getElementById("facebook-jssdk")) {
    var script = document.createElement("script")
    script.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js"
    script.crossOrigin = "anonymous"
    document.body.appendChild(script)
  }


  fetch(baseURL + '/asset-manifest.json')
    .then(function (response) { return response.json() })
    .then(function (data) {

      const entryPoints = data.entrypoints
      entryPoints.forEach(function (entryPoint) {
        var url = baseURL + '/' + entryPoint
        if (url.endsWith(".js")) {
          var script = document.createElement("script")
          script.src = url
          document.body.appendChild(script)
        } else if (url.endsWith(".css")) {
          var stylesheet = document.createElement("link")
          stylesheet.href = url
          stylesheet.rel = "stylesheet"
          document.head.appendChild(stylesheet)
        }
      })
      // console.log("[cb] script loaded")
    })
    .catch(function (error) {
      console.error("[cb] unable to load GetChatButton from manifest")
    })
}

if (document.readyState !== 'complete') {
  window.addEventListener('load', loadCB)
} else {
  loadCB()
}
    
</script>

<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
(function() {
window.__insp = window.__insp || [];
__insp.push(['wid', 1112919413]);
var ldinsp = function(){
if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1112919413&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 0);
})();
</script>
<!-- End Inspectlet Asynchronous Code -->
